# root project
/.gradle
/gradle
/gradlew.bat
/gradlew
/.idea
/build

# 1.8.8
/1.8.8/minecraft/build
/1.8.8/injection-hook/build

# shared
/shared/agent/build
/shared/injection-hook/build
/shared/obfuscator/build
/shared/mapping-index-compiler/build

# building
/mappings/1.8.8/
/components/1.8.8/
/bin/mapping-index-compiler.jar
/bin/obfuscator.jar
