# root project
/.gradle
/gradle
/gradlew.bat
/gradlew
/.idea
/build

# 1.8.8
/1.8.8/minecraft/build
/1.8.8/injection-hook/build

# 1.12
/1.12/minecraft/build/
/1.12/injection-hook/build/

# 1.16.4
/1.16.4/minecraft/build/
/1.16.4/injection-hook/build/

# shared
/shared/agent/build
/shared/injection-hook/build
/shared/obfuscator/build
/shared/mapping-index-compiler/build

# building
/mappings/
/components/
/bin/mapping-index-compiler.jar
/bin/obfuscator.jar
