# root project
/.gradle
/gradle
/gradlew.bat
/gradlew
/.idea
/build
gradle.properties

# 1.8.8
/1.8.8-octane/minecraft/build
/1.8.8-octane/injection-hook/build

# 1.12
/1.12-vision/minecraft/build/
/1.12-vision/injection-hook/build/

# 1.16.4
/1.16.4-vortex/minecraft/build/
/1.16.4-vortex/injection-hook/build/

# shared
/shared/agent/build
/shared/dragonfly-core/build
/shared/obfuscator/build
/shared/mapping-index-compiler/build

# building
/mappings/
/components/
/bin/mapping-index-compiler.jar
/bin/obfuscator.jar
